<!DOCTYPE html>
<html>
    <head>
        <title>SeedX test</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
        <script src="https://code.jquery.com/jquery-3.0.0.min.js"></script>

        <style>
            form {margin-bottom: 30px}
        </style>
    </head>

    <body dir="ltr">
        <div class="container">
            <h1 class="pb-2 border-bottom mt-2 mb-4">SeedX test</h1>

            <h3>Create a report</h3>
            <form id="form-create-report" action="/create_report/" method="post" autocomplete="off">
                {% csrf_token %}
                <div class="form-group">
                    <label>Select a user</label>
                    <select name="user_id" class="form-control" required>
                        <option value="" disabled selected>-Select user-</option>
                        {% for user in users %}
                        <option value="{{user.id}}">{{user.username}}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="form-group">
                    <label>Select a machine</label>
                    <select name="machine_id" class="form-control" required>
                        {% for m in machines %}
                        <option value="{{m.id}}">{{m.name}}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="form-group">
                    <label>Select a crop trait</label>
                    <select name="crop_trait_id" class="form-control" required>
                        {% for ct in crop_traits %}
                        <option value="{{ct.id}}">{{ct.name}}</option>
                        {% endfor %}
                    </select>
                </div>

                <button class="btn btn-primary" type="submit">Create</button>
            </form>

            <h3>Upload a new image (report entry)</h3>
            <form id="form-upload" action="/upload/" enctype="multipart/form-data" method="post" autocomplete="off">
                {% csrf_token %}

                <div class="form-group">
                    <label>Select an image file</label>
                    <input type="file" name="img" accept="image/*" class="form-control" required />
                </div>

                <div class="form-group">
                    <label>Select a report</label>
                    <select name="report_id" class="form-control" required>
                        {% for r in reports %}
                        <option value="{{r.id}}">{{r.machine}}, {{r.user}}, {{r.crop_trait}}</option>
                        {% endfor %}
                    </select>
                </div>
                <button class="btn btn-primary" type="submit">Send</button>
            </form>


            <h3>Get images per user</h3>
            <form id="form-images-by-user" action="/images_by_user/" method="get" autocomplete="off">
                <div class="form-group">
                    <select name="user_id" class="form-control" required>
                        <option value="" disabled selected>-Select user-</option>
                        {% for user in users %}
                        <option value="{{user.id}}">{{user.username}}</option>
                        {% endfor %}
                    </select>
                </div>
                <button class="btn btn-primary" type="submit">Send</button>

                <ul id="list-images-by-user">

                </ul>
            </form>

        </div>

        <script>
            const CSRF_TOKEN = "{{csrf_token}}";

            // Insert CSRF token header with ajax requests
            $.ajaxSetup({
                beforeSend: function (xhr, settings) {
                    if (!(/^(GET|HEAD|OPTIONS|TRACE)$/.test(settings.type) && !this.crossDomain)) {
                        xhr.setRequestHeader("X-CSRFToken", CSRF_TOKEN);
                    }
                }
            });
        </script>


        <script>
            $("#form-images-by-user").on("submit", function (event) {
                event.preventDefault();
                $.get("/images_by_user/", $(this).serialize(), (response) => {
                    //console.log(response);
                    let listContent = response.links.map(url => `<li><a href="${url}" target="_blank">${url}</a></li>`).join("");
                    $("#list-images-by-user").html(listContent);
                });
            })
        </script>
    </body>
</html>